<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.newlydev.fileshare_android" >
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <application
		android:allowBackup="true"
		android:name=".mApplication"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme"
		android:resizeableActivity="true">
		<meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4267459436057308~9756116155"/>
		<activity
			android:name=".activities.MainActivity"
			android:label="@string/app_name"
			android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".activities.UpdateManagerActivity"
			android:label="更新管理器"
			android:launchMode="singleTask">
		</activity>
		<service android:name=".MainService"/>
	</application>
</manifest>
